body {
  font-family: 'PT Sans', sans-serif;
  background: -moz-linear-gradient(top, rgba(0,0,0,.06) 0%, #fafafa 6%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,.06) 0%, #fafafa 6%);
  background: linear-gradient(to bottom, rgba(0,0,0,.06) 0%, #fafafa 6%);
  margin: 0;
}

a {
  color: #03A9F4;
  text-decoration: none;
  border-bottom: 1px rgba(3, 169, 244, .25) solid;
  transition: opacity 200ms ease;
}

a:hover {
  opacity: .65;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}

header {
  padding: 12px 40px;
  width: 100%;
  box-sizing: border-box;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 32px;
}

footer {
  display: flex;
  font-size: 14px;
  width: 100%;
  max-width: 1000px;
  padding: 10px 20px 40px;
}

.copyright {
  flex-grow: 1;
  margin-right: 20px;
}

.links a {
  margin-right: 10px;
}

.am {
  display: inline-flex;
}

.am-photo {
  background-image: url(../images/am.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.am-name {
  margin-left: 20px;
}